.in-and-out {
  -webkit-animation: in-and-out 30s linear infinite;
  animation: in-and-out 30s linear infinite;
}

@keyframes in-and-out {
  0% {
    transform: translateY(10%);
  }
  25% {
    transform: translateX(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    transform: translateY(10%);
  }
}

.fade-transition {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

